<div class="container">
    <div class="jumbotron bg-dark text-white">
        <center>
            <button class="btn btn-primary" onclick="location.href='/'">
                Home
            </button>
            <button class="btn btn-primary" target="popup" onclick="window.open('https://discord.gg/sp3sxarr3N','name','width=600,height=700')">
                Support
            </button>
            <br>
            <hr style="background-color:#FFFFFF;">
            <h6>
                Created by <b>Taps</b>
                <br>
                Inspired by <b>Snowflake107</b>
            </h6>
        </center>
    </div>
</div>
</body>

</html>
